<a href="https://colab.research.google.com/github/sudhirshahu51/RAG/blob/main/RAG_Tabular_data_interaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Installation

[Link](https://docs.llamaindex.ai/en/stable/examples/query_engine/pandas_query_engine/)

In [5]:
!pip install llama-index llama-index-experimental llama-index-llms-groq --quiet

LLM Config

In [7]:
from google.colab import userdata
from llama_index.llms.groq import Groq
from llama_index.core.llms import ChatMessage
groq_key = userdata.get('GROQ_API')
llm = Groq(model="llama3-70b-8192", api_key=groq_key) #https://docs.llamaindex.ai/en/stable/examples/llm/groq/#streaming

In [9]:
from llama_index.core import Settings
Settings.llm = llm

In [2]:
import logging
import sys
from IPython.display import Markdown, display

import pandas as pd
from llama_index.experimental.query_engine import PandasQueryEngine


logging.basicConfig(stream=sys.stdout, level=logging.INFO)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

In [3]:
# Test on some sample data
df = pd.DataFrame(
    {
        "city": ["Toronto", "Tokyo", "Berlin"],
        "population": [2930000, 13960000, 3645000],
    }
)

In [10]:
query_engine = PandasQueryEngine(df=df, verbose=True)

In [11]:

response = query_engine.query(
    "What is the city with the highest population?",
)

> Pandas Instructions:
```
df.loc[df['population'].idxmax()]['city']
```
> Pandas Output: Tokyo

In [13]:
display(Markdown(f"<b>{response}</b>"))

<b>Tokyo</b>

In [14]:
# get pandas python instructions
print(response.metadata["pandas_instruction_str"])

df.loc[df['population'].idxmax()]['city']

In [15]:
df.loc[df['population'].idxmax()]['city']

'Tokyo'

In [16]:
df['population'].idxmax()

1

In [17]:
query_engine = PandasQueryEngine(df=df, verbose=True, synthesize_response=True)
response = query_engine.query(
    "What is the city with the highest population? Give both the city and population",
)
print(str(response))

> Pandas Instructions:
```
df.loc[df.population.idxmax()]
```
> Pandas Output: city             Tokyo
population    13960000
Name: 1, dtype: object
The city with the highest population is Tokyo, with a population of 13,960,000.